@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ritual Gym</h1>
    <p>You know you need to exercise.  We're not here to sell you a membership, we're here to sell you an upgrade.</p>
    <p>Our gym, Ritual, was born out of necessity.</p>
    <p>The pace of life continues to accelerate, yet traditional gyms are still selling you the same service that they've been offering for decades, based on outdated science.  Long, grinding personal training sessions are too time-consuming, and committing to a fixed time slot every week is just not realistic.</p>
    <p>However, you've still got to exercise.</p>
    <p>So what we've done is stripped down the process to the essentials.  We teach you to train your body as the machine, not with machines.  Your training experience has to be effective, no-nonsense, and most importantly, respectful of your time.</p>
    <p>Welcome to the 30-minute Ritual.</p>
</div>