@{
    ViewBag.Title = "Training Zone Dashboard";
}
<h2>@ViewBag.Title.</h2>

<p>Welcome [User First Name] to your training gateway.  Be Brave!</p>

<h3>My Upcoming Bookings</h3>

<h3>My Past Bookings</h3>

<h3>My Quarterly Assessments</h3>
