@{
    ViewBag.Title = "Reset password confirmation";
}
<section class="content">
    <div class="row">
        <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns">
            <div class='builder-form' id="loginForm">
                <div class="row">
                    <div class="large-12 columns">
                        <h2>@ViewBag.Title.</h2>
                        <hr />
                        <div>
                            <p>
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="button" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>