@model Ritual.Data.TrainingZoneBookingData

@{
    ViewBag.Title = "Create a new Booking";
}
<section class="content-header">
    <div class="row">
        <div class="large-12 columns">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="large-12 columns">
            @if (Model.currentMember.hasActiveMembership() && Model.currentMember.isActiveMembershipSuspended() == false)
            {
                <div>
                    @Html.ActionLink("Back to Dashboard", "Dashboard", "", new { @class = "button" })
                </div>
                <div id="ritual-locations"></div>
                
                <div id="ritual-dates"></div>

                <div id="ritual-bookings"></div>
            }
            else
            {
                @Model.currentMember.getLatestMembership().getMembershipStatusText()
            }
        </div>
    </div>
</section>
@if (Model.currentMember.hasActiveMembership())
{
    @section Scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                RITUAL.Core.TrainingZone.Bookings("#ritual-locations");
            });

        </script>
    }
}
